<div class="page-container">
  <% for(var i=0; i<pages.length; i++){ %>
    <div class="page v-height-full">
      <div class="row v-height-full">
        <%= pages[i] %>
      </div>
    </div>
  <% } %>
</div>

