<div class="row">
  <div class="columns small-push-4 small-4 text-center">
    <div>An<br><strong><a href="#"><%= org %></a></strong><br>Project</div>
  </div>
  <div class="columns small-4">
    <ul class="inline-list right">
      <li><a href="#">Contact</a></li>
      <li><a href="#">Hipster</a></li>
    </ul>
  </div>
</div>


