<div class="row">
  <div class="columns col12">
    <ul class="no-bullet">
      <li class="title animate"><a href="#">Haunt</a></li>
      <ul class="menu no-bullet">
        <li class="animate"><a href="#"><%= user %></a></li>
      </ul>
    </ul>
  </div>
</div>

