<div class="row">
  <div class="columns col12">
    <ul>
      <li class="title">Haunt</li>
      <ul>
        <li><a href="#"><%= user %></a></li>
        <li><a href="#">Ham Sandwich</a></li>
      </ul>
    </ul>
  </div>
</div>

