/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic);*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: "Lato", sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}


/*******************/
/* Helpers */
/*******************/
.v-align-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.v-height-full {
  height: 100%;
}
.animate {
  transition: all 0.2s;
}


/*******************/
/* Inline Elements */
/*******************/
a {
  text-decoration: none;
  color: #FF6565;
  }
  a:hover {
    color: #F40A0A;
    text-decoration: underline;
  }

:focus{
  outline-color: #FFA3A3;
}


/*******************/
/* Block Elements */
/*******************/
h1,h2,h3 {
  font-weight: 200;
}


/***************/
/* Project CSS */
/***************/

header {
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color: #333;
  font-weight: 200;
  z-index: 1;
  }
  header li { opacity: 0; }
  header.active {
    background-color: rgba(255,255,255,0.8);
    opacity: 0.8;
  }
  header.active li { opacity: 1; }
  header:hover {
    background-color: rgba(255,255,255,1);
    opacity: 1;
  }
  header:hover li { opacity: 1; }
  header .title,
  header .menu{
    padding: 1rem 0;
    margin: 0;
    line-height: 1rem;
  }
  header .title {
    font-size: 1.4rem;
    float: left;
    letter-spacing: 4px;
  }
  header .title em {
    font-style: italic;
    color: #FFC6C6; 
    font-size: 12px;
    letter-spacing: 0;
  }
  header .menu {
    float: right;
    letter-spacing: 1px;
  }
  header .menu li {
    float: left;
    padding-left:12px;
  }
  header .menu li a {
    color: #333;
  }

#app {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 0;
  background-color: #FAFAFA;
  background-image: url('../images/alberto-korda.jpg');
  background-size: cover;
  background-position: 50% 14%;
}

.page-container {
  position: absolute;
  width: 100%;
  }
  .page {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #EEE;
  font-size: 0.6rem;
  padding: 4px 0;
  border-top: 1px solid #CCC;
  z-index: 1;
  opacity: 0.6;
}
footer:hover {
  opacity: 1;

}
