<style>
.page.pageNumber-1 {
  background-image: url('../images/alberto-korda.jpg');
  background-size: cover;
  background-position: 50% 14%;
}
</style>
<div class="row v-height-full">
  <div class="col12 v-align-center">

    
    
  </div>
</div>
